@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    /* Primary Colors */
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);

    /* Neutral */
    --dark-gray-red: hsl(0, 6%, 24%);

    /* Gradients */

    --first-gradient-col1: hsl(0, 0%, 100%);
    --first-gradient-col2: hsl(0, 100%, 98%);
    --second-gradient-col1: hsl(0, 80%, 86%);
    --second-gradient-col2: hsl(0, 74%, 74%);
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Josefin Sans", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    width: min(100% - 1rem, 375px);
    transition: 350ms ease-in-out;
    margin: 0 auto;
}

.section__desktop-image {
    display: none;
}

.container__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 0 2rem 0;
}

.container__logo-image {
    max-width: 80%;
    padding: 1rem 0;
}

.container__hero-image {
    padding-bottom: 2rem;
}

.section__heading {
    letter-spacing: 12px;
    font-size: 3em;
    padding: 2rem;
    text-align: center;
}

.section__highlight {
    color: var(--desaturated-red);
    font-weight: 300;
}

.section__description {
    color: var(--desaturated-red);
    padding: 0 2rem 2rem;
    text-align: center;
    font-weight: 400;
    font-size: .8em;
    line-height: 1.5em;
}

.section__form {
    border-radius: 3rem;
    border: 1px solid var(--desaturated-red);
    margin: 0 auto;
}

.section__form.error {
  border: 1px solid red;
}

.section__form-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.section__mail-input {
    padding: 0.75rem 1rem;
    border-radius: 3rem;
    border: none;
    outline: none;
    background-color: transparent;
}

.section__mail-input::placeholder {
    color: var(--desaturated-red);
    font-family: "Josefin Sans", serif;
    opacity: .5;
    font-weight: 400;
}

.section__submit-button {
    cursor: pointer;
    border: none;
    border-radius: 2rem;
    padding: .75rem 1.5rem;
    background-image: linear-gradient(135deg, var(--second-gradient-col1), var(--second-gradient-col2));
}

.section__submit-button:active {
    box-shadow: 0px 0px 62px -10px rgba(0,0,0,0.75);
    opacity: .5;
}

.section__submit-button--arrow {
    width: 100%;
}

.section__mail-input--error-icon {
  opacity: 0;
  visibility: hidden;
  padding: 0.5rem;
  transition: opacity 300ms ease-in, visibility 300ms ease-in;
}

.section__mail-input--error-icon.show {
  visibility: visible;
  opacity: 1;
}

.section__mail-input--error {
    display: none;
    padding: 1rem;
    color: var(--soft-red);
    margin: 0 auto;
}


@media (min-width: 1050px) {
  .container {
    width: min(100% - 2rem, 1000px);
    transition: 350ms ease-in-out;
  }

  .section__container {
    display: flex;
  }

  .container__content {
    margin: 5rem;
    width: 500px;
    justify-content: start;
    align-items: start;
  }

  .section__desktop-image {
    display: block;
  }

  .section__hero-image--desktop {
    display: block;
    width: 100%;
  }

  .container__hero-image {
    display: none;
  }

  .section__heading {
    font-size: 4rem;
  }

  .section__heading, .section__description  {
    text-align: left;
    padding: 2rem 0;
  }

  .section__description {
    padding: 0 0 2rem;
  }

  .section__form {
    margin: 0;
  }

  .section__mail-input--error {
    margin: 0;
  }

}